

{% extends "event/base.html" %}

{% block content %}

<h4>Updating Attendee</h4>

<form class="form-horizontal" method="POST">
{% csrf_token %}
{% for field in form %}
{% if field.name == "showed_up" %}
	<div class="form-group">
    <label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
      <input type="checkbox" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" checked>
    </div>
  </div>
{% elif field.name == "input_by" %}
	<div class="form-group">
    <div class="col-sm-10">
      <input type="hidden" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}"  placeholder="{{ field.label }}" value="{{ request.session.user_email }}">
    </div>
    </div>
{% else %}
	<div class="form-group">
    <label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" value="{{ field.value }}">
    </div>
  </div>
 {% endif %}
 {% endfor %}
<button type="submit" class="btn btn-default">Update New Attendee</button>

{% endblock %}