<!DOCTYPE html>
<html lang="en">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style>
body #main-content { 
    padding-top: 70px; 
    padding-bottom: 70px;
  }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    
</head>
<body>



    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Event Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if request.session.user_email %}
              <li><p class="navbar-text">Signed in as <strong>{{ request.session.user_full_name }}</strong></p></li>
              <li><a href="/entry/">Event List</a></li>
              {% else %}
              <li><a href="/">Not Signed in</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form action="/logout/" method="POST" class="navbar-form navbar-left">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">Log Out</button>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

  <!-- Error Message -->
  {% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}
    
    <div class="container" id="main-content">
    {% block content %}{% endblock %}
    </div>

</body>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="muted-text">&copy; Copyright 2015 by Leo.</p>
      </div>
    </nav>
</html>